---
import ThemeIcon from "./ThemeIcon.astro";
---
<nav>
	<ThemeIcon />
    <a href="/astro-test-please-delete/">Home</a>
    <a href="/astro-test-please-delete/about/">About</a>
    <a href="/astro-test-please-delete/blog/">Blog</a>
	<a href="/astro-test-please-delete/tags">Tags</a>
</nav>